.biancaRamonda,
.nameContainerParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.nameContainerParent {
  flex: 1;
  flex-direction: column;
}
.biancaRamonda {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-29xl);
  box-sizing: border-box;
}
.experienceProjects1 {
  margin: 0;
  width: 433px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1.12px;
  line-height: 29px;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.experienceProjects {
  width: 633px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-29xl);
  box-sizing: border-box;
  max-width: 100%;
}
.gridPositioningParent {
  width: 1648px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
  max-width: 115%;
}
.imageContainerIcon {
  align-self: stretch;
  height: 311px;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.h4PostTitle {
  width: 233px;
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
}
.paragraphPostDescription {
  align-self: stretch;
  height: 60px;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
  display: inline-block;
}
.h4PostTitleParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.h4PostTitleParent,
.product,
.productLayouts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.productLayouts {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
}
.product {
  min-height: 472px;
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-base) var(--padding-base) var(--padding-17xl);
  box-sizing: border-box;
}
.h4PostTitle1,
.h4PostTitle2 {
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
}
.h4PostTitle1 {
  align-self: stretch;
}
.h4PostTitle2 {
  width: 235px;
}
.paragraphPostDescription2 {
  align-self: stretch;
  height: 40px;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
  display: inline-block;
}
.product2 {
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-37xl);
  box-sizing: border-box;
  min-height: 472px;
}
.h4PostTitle3,
.h4PostTitle4 {
  width: 312px;
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
}
.h4PostTitle4 {
  width: 272px;
}
.paragraphPostDescription4 {
  align-self: stretch;
  height: 20px;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
  display: inline-block;
}
.product4 {
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) 76px;
  box-sizing: border-box;
  min-height: 472px;
}
.h4PostTitle10,
.h4PostTitle12 {
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
}
.h4PostTitle5 {
  width: 221px;
}
.h4PostTitle5,
.h4PostTitle6,
.h4PostTitle7,
.h4PostTitle8 {
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
}
.h4PostTitle6 {
  width: 182px;
}
.h4PostTitle7 {
  width: 278px;
}
.h4PostTitle8 {
  width: 216px;
}
.h4PostTitle10 {
  width: 284px;
}
.h4PostTitle12 {
  width: 265px;
}
.paragraphPostDescription12 {
  align-self: stretch;
  height: 80px;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
  display: inline-block;
}
.product12 {
  min-height: 472px;
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.image121Icon,
.imageIcon {
  position: absolute;
  object-fit: cover;
}
.imageIcon {
  height: calc(100% + 64px);
  width: calc(100% + 74px);
  top: -32px;
  right: -37px;
  bottom: -32px;
  left: -37px;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image121Icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.imageContainer {
  height: 311px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  max-width: 100%;
}
.imageContainerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 7px;
  box-sizing: border-box;
  max-width: 100%;
}
.h4PostTitle13 {
  width: 294px;
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
}
.product13 {
  min-height: 472px;
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-37xl);
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 100%;
}
.h4PostTitle14 {
  width: 311px;
}
.h4PostTitle14,
.h4PostTitle15,
.h4PostTitle16 {
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
}
.h4PostTitle15 {
  width: 291px;
}
.h4PostTitle16 {
  width: 268px;
}
.fondoConImagen,
.productGrid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.productGrid {
  width: 1440px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--h5-size);
  color: var(--text-color);
  font-family: var(--paragraph);
  padding-bottom: var(--padding-11xl);
  padding-top: var(--gap-base);
  padding-right: var(--gap-base);
  margin-bottom: var(--padding-61xl);
}
.fondoConImagen {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background-image: url(../../images/fondo-con-imagen@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
  font-size: 40px;
  color: var(--color-gray-100);
  font-family: var(--font-helvetica-neue);
}
@media screen and (max-width: 825px) {
  .fondoConImagen {
    background-image: none;
  }
  .biancaRamonda {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .experienceProjects {
    padding-bottom: 0;
  }

  .experienceProjects1 {
    font-size: var(--font-size-13xl);
    line-height: 47px;
  }
  .gridPositioningParent {
    gap: 26px;
  }
  .productGrid {
    margin-bottom: var(--padding-31xl);
  }
  .product {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
  .product2 {
    padding-bottom: var(--padding-17xl);
  }
  .product13,
  .product2,
  .product4 {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .product4 {
    padding-bottom: 49px;
  }
  .product13 {
    padding-bottom: var(--padding-17xl);
  }
}
@media screen and (max-width: 450px) {
  .experienceProjects1 {
    font-size: var(--font-size-5xl);
    line-height: 35px;
  }
}
