.logoFlickChild {
  height: 14.6px;
  width: 12.6px;
  position: relative;
}
.flickevents,
.logoFlick {
  display: flex;
  align-items: center;
}
.logoFlick {
  width: 30.2px;
  border-radius: var(--br-8xs-8);
  background-color: var(--header-1);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs-7) var(--padding-5xs);
  box-sizing: border-box;
}
.flickevents {
  height: 10px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  font-weight: 500;
  min-width: 80px;
}
.flickeventsDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.flickeventsIsA {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-gray-100);
}
.flickeventsContent {
  width: 579px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.inMyRole {
  margin: 0;
}
.inMyRoleContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--h5-size);
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 300;
  color: var(--color-darkslategray-100);
}
.flickeventsContainer {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.flickeventsAlignment,
.flickeventsContainer,
.iphone13ProParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flickeventsAlignment {
  width: 612px;
  flex-direction: column;
  min-width: 612px;
  max-width: 100%;
}
.iphone13ProParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-sm);
}
.flickeventsPositioning,
.flickeventsPositioningWrapper,
.phoneMockup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.phoneMockup {
  width: 358px;
  flex-direction: column;
  padding: var(--padding-lgi-4) 0 0;
  min-width: 358px;
}
.flickeventsPositioning,
.flickeventsPositioningWrapper {
  flex-direction: row;
}
.flickeventsPositioning {
  flex: 1;
  padding: var(--padding-29xl) var(--padding-81xl);
  gap: var(--gap-124xl);
}
.flickeventsPositioningWrapper {
  align-self: stretch;
  padding: 0 0 var(--padding-34xl);
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-darkslategray-200);
  font-family: var(--font-helvetica-neue);
}
.iphone13Pro {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 112px;
}

.goldIcon,
.screenIcon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.screenIcon {
  height: 95.68%;
  width: calc(100% - 18.5px);
  top: 2.16%;
  right: 9.1px;
  bottom: 2.16%;
  left: 9.4px;
  border-radius: 10.42px;
}
.goldIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.iphone13Pro {
  height: 347.2px;
  flex: 1;
  position: relative;
}

@media screen and (max-width: 1425px) {
  .flickeventsAlignment,
  .phoneMockup {
    flex: 1;
  }
  .flickeventsPositioning {
    flex-wrap: wrap;
    gap: var(--gap-52xl);
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .flickeventsAlignment {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .phoneMockup {
    display: none;
  }
  .flickeventsPositioning {
    gap: var(--gap-17xl);
    padding: var(--padding-12xl) var(--padding-6xl);
    box-sizing: border-box;
  }
  .flickeventsPositioningWrapper {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .flickeventsIsA {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .iphone13ProParent {
    flex-wrap: wrap;
  }
  .flickeventsPositioning {
    gap: var(--gap-lg);
  }
}
