.heading1,
.uxuiDesigner {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.uxuiDesigner {
  height: 10px;
  letter-spacing: 0.2px;
  line-height: 28px;
  min-width: 103px;
}
.heading1 {
  margin: 0;
  height: 17px;
  font-size: var(--font-size-5xl);
  letter-spacing: -1.12px;
  line-height: 59px;
  font-family: inherit;
  color: var(--color-gray-100);
}
.navigationContainer {
  width: 473px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-10xs-5) var(--padding-xl) var(--padding-10xs-5) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.buttonPrevious {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: var(--br-9980xl);
  min-height: 48px;
}
.navigationAlignment,
.navigationButtonsSmall {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.navigationAlignment {
  width: 1240px;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.imageContainerIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.h4PostTitle {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.retailAndWholesale {
  margin: 0;
}
.paragraphPostDescription {
  height: 40px;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
  display: inline-block;
}
.h4PostTitleParent,
.productLayoutsVaried {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.h4PostTitleParent {
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-4xs);
}
.productLayoutsVaried {
  height: 400px;
  gap: var(--gap-base);
}
.imageContainerIcon1,
.product {
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.product {
  height: 482px;
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.imageContainerIcon1 {
  align-self: stretch;
  height: 311px;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.h4PostTitle1 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 126px;
}
.paragraphPostDescription1 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-size);
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--second-text-color);
}
.h4PostTitleGroup {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.h4PostTitleGroup,
.imageContainerParent,
.product1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.imageContainerParent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
}
.product1 {
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-base) var(--padding-base) var(--padding-37xl);
  box-sizing: border-box;
  height: 482px;
  max-width: 100%;
}
.h4PostTitle2 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 86px;
}
.product2 {
  height: 482px;
  width: 375px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.h4PostTitle3 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 88px;
}
.navigationPositioning,
.productGridVariation {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.productGridVariation {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  width: 1568px;
  display: grid;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  grid-template-columns: repeat(4, minmax(320px, 1fr));
}
.scrollContainer {
  width: 1648px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 53px;
  max-width: 115%;
}
.navigationPositioning {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--h5-size);
  color: var(--text-color);
  font-family: var(--paragraph);
}
.contactPortfolios1 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 13px;
}
.contactPortfoliosContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0;
}
.deviconlinkedin {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.socialLinks {
  cursor: pointer;
  width: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi);
}
.behanceIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.socialLinks1 {
  cursor: pointer;
  width: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini);
}
.dribbbleIcon,
.gmailIcon,
.downloadIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.gmailIcon {
  height: 18.5px;
}
.socialLinks2 {
  cursor: pointer;
  width: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-lgi) var(--padding-2xl);
}
.materialSymbolsLightdownloa {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.downloadResume {
  position: relative;
  font-size: var(--h5-size);
  letter-spacing: 0.2px;
  line-height: 12px;
  font-weight: 300;
  font-family: var(--font-helvetica-neue);
  color: var(--color-mediumslateblue);
  text-align: left;
}
.resumeDownloadContainer,
.socialLinksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.resumeDownloadContainer {
  cursor: pointer;
  border: 0.7px solid var(--color-gainsboro-100);
  padding: var(--padding-lgi) var(--padding-mini);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  gap: var(--gap-10xs);
  white-space: nowrap;
}
.resumeDownloadContainer:hover {
  background-color: var(--color-gainsboro-200);
  border: 0.7px solid var(--color-lightgray);
  box-sizing: border-box;
}
.socialLinksContainer {
  padding: 0 var(--padding-771xl) 0 0;
  gap: var(--gap-5xs);
}
.contactPortfolios,
.container,
.productGridNavigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.container {
  width: 1272px;
  align-items: flex-start;
  gap: var(--gap-base);
}
.contactPortfolios,
.productGridNavigation {
  box-sizing: border-box;
  text-align: left;
  font-family: var(--font-helvetica-neue);
}
.contactPortfolios {
  align-self: stretch;
  backdrop-filter: blur(8.9px);
  background-color: var(--color-gray-200);
  align-items: center;
  padding: var(--padding-61xl) var(--padding-xl);
  z-index: 1;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.productGridNavigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 1440px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--h5-size);
  color: var(--text-color);
  font-family: var(--paragraph);
  padding-bottom: var(--gap-base);
  padding-right: var(--gap-base);
  margin-bottom: var(--padding-61xl);
}
@media screen and (max-width: 1425px) {
  .socialLinksContainer {
    flex-wrap: wrap;
    padding-right: var(--padding-376xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .scrollContainer {
    gap: 26px;
  }
  .navigationAlignment {
    flex-wrap: wrap;
  }
  .product1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .navigationPositioning {
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .socialLinksContainer {
    justify-content: flex-start;
    padding-right: var(--padding-178xl);
    box-sizing: border-box;
  }
  .contactPortfolios {
    padding-top: 0;
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .heading1 {
    font-size: var(--font-size-lgi);
    line-height: 47px;
  }
  .socialLinksContainer {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
