.uiuxDesigner {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.title {
  margin: 0;
  width: 486px;
  height: 92px;
  position: relative;
  font-size: var(--title-h2-size);
  line-height: 120%;
  font-weight: 700;
  font-family: var(--title-h2);
  color: var(--bg-line);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.uiuxDesignerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.iWorkAs {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.focusedOnContinuing {
  margin: 0;
}
.text {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.frameContainer,
.subheadline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.subheadline {
  align-self: stretch;
  font-size: var(--font-size-5xl);
  color: var(--font-medium-emphasis);
}
.frameContainer {
  width: 588px;
  gap: var(--gap-13xl);
  min-width: 588px;
  max-width: 100%;
}
.image119Icon {
  width: 417px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.buttonPrimary {
  height: 48px;
  flex: 0.5;
  min-width: 174px;
}
.text1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
}
.buttonSecondary {
  cursor: pointer;
  flex: 0.5;
  border-radius: var(--br-5xl);
  border: 2px solid var(--bg-line);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
  min-width: 174px;
}
.buttons,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-629xl) 0 0;
  gap: var(--gap-base);
  color: var(--bg-line);
}
.frameParent {
  flex-direction: column;
  align-items: center;
  padding: var(--padding-37xl) 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-18-size);
  color: var(--color-palevioletred);
  font-family: var(--font-nunito);
}
@media screen and (max-width: 1200px) {
  .buttons {
    padding-right: var(--padding-305xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .title {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .frameContainer,
  .image119Icon {
    flex: 1;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .buttonPrimary,
  .buttonSecondary {
    flex: 1;
  }
  .buttons {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frameContainer {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .buttons {
    padding-right: 0;
    box-sizing: border-box;
  }
  .frameParent {
    gap: var(--gap-base);
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .text {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .buttonPrimary {
    padding-left: var(--padding-xl);
  }
  .buttonPrimary,
  .buttons {
    box-sizing: border-box;
  }
}
