.fintecifyIollin {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
}
.iollinIsA {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.businessAiMentorship,
.crowdfundingEntrepreneursCa1,
.fastIdeaValidation {
  margin-bottom: 0;
}
.carouselContainer { 
  margin-top: 16px;
  width: 100%;
}
.carouselContainer > div { 
  width: 100%;
  text-align: center;
}
.crowdfundingEntrepreneursCa {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.iollinIsAContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-nunito);
  color: var(--color-black);
}
.projectDescription {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.myRole {
  position: relative;
  line-height: 150%;
  font-weight: 700;
}
.monitoringIcon {
  height: 128px;
  width: 128px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.applicationOrSite,
.userInterfaceUi {
  margin: 0;
}
.userInterfaceUiContainer {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  min-width: 263px;
  max-width: 100%;
}
.monitoringParent {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--bg-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 382px;
  max-width: 100%;
}
.usersIcon {
  height: 128px;
  width: 128px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.userTestingPerform {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  min-width: 268px;
  max-width: 100%;
}
.responsibilitiesGrid,
.usersParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.usersParent {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--bg-white);
  padding: 19.5px var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 382px;
  font-size: var(--text-size);
}
.responsibilitiesGrid {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-5xl);
}
.awardIcon {
  height: 128px;
  width: 128px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.qaForDeveloped {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 300;
  display: inline-block;
  min-width: 268px;
  max-width: 100%;
}
.awardParent,
.responsibilities,
.roleDetails {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.awardParent {
  width: 588px;
  border-radius: var(--br-5xl);
  background-color: var(--bg-white);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.responsibilities,
.roleDetails {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.responsibilities {
  gap: var(--gap-5xl);
  font-size: var(--body-18-size);
  color: var(--color-black);
  font-family: var(--text);
}
.roleDetails {
  gap: var(--gap-21xl);
}
.contemporaryEntrepreneursEnc,
.theChallengeWe {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.theChallengeWe {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.contemporaryEntrepreneursEnc {
  font-size: var(--font-size-5xl);
  font-family: var(--font-nunito);
  color: var(--color-black);
}
.image95Icon {
  width: 737.5px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.challengeImage,
.theChallengeWeSeekToAddreParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.challengeImage {
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.theChallengeWeSeekToAddreParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.informationArchitectureAnd,
.theUxuiDesign {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.blankLine,
.weCollaborateIn {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.informationArchitectureAnd1 {
  margin: 0;
}
.weCollaborateInContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-nunito);
  color: var(--color-black);
  display: inline-block;
}
.image96Icon,
.image97Icon,
.image98Icon {
  height: 1159px;
  width: 1200px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.image97Icon,
.image98Icon {
  height: 1153px;
  width: 1773px;
}
.image98Icon {
  width: 1221px;
}
.informationArchitectureAndUParent,
.workflowVisuals {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.workflowVisuals {
  width: 1200px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  gap: var(--gap-base);
}
.informationArchitectureAndUParent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
  gap: var(--gap-21xl);
}
.lowFidelityPrototypes {
  position: relative;
  line-height: 150%;
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
}
.theLowFidelityPrototypes {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-nunito);
  color: var(--color-black);
}
.image100Icon,
.image101Icon,
.image102Icon,
.image99Icon {
  align-self: stretch;
  width: 906px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 993px;
}
.image101Icon,
.image102Icon {
  width: 1005px;
}
.image102Icon {
  width: 682px;
  min-height: 992px;
}
.prototypeImages,
.prototypingDescription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.prototypeImages {
  width: 1200px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.prototypingDescription {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.theBigChallenge {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.theFlowsWe,
.weBeganWith,
.weDividedThe {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.chatbot,
.footerDisclaimerabout,
.kycProcessIdentity,
.loginsignUp,
.postsInGiving,
.profilesAndProfile,
.projectCreation,
.projectsCommentingSystem {
  margin-bottom: 0;
}
.loginsignUpKycProcessId {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-13xl);
}
.weBeganWithContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-nunito);
  color: var(--color-black);
}
.image103Icon,
.image104Icon,
.image105Icon,
.image106Icon {
  align-self: stretch;
  width: 1158.8px;
  position: relative;
  max-height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 824px;
}
.image104Icon,
.image105Icon,
.image106Icon {
  width: 1160px;
}
.image105Icon,
.image106Icon {
  width: 1277.2px;
}
.image106Icon {
  width: 1067.6px;
}
.image103Parent,
.prototypingDescription1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.image103Parent {
  width: 1200px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.prototypingDescription1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.nSummaryAnd {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.thisProjectIs,
.thisReviewStage {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.asResourcesFor {
  margin: 0;
}
.thisProjectIsContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-nunito);
  color: var(--color-black);
}
.nSummaryAndAsAClosingStaParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.designSystem {
  position: relative;
  line-height: 150%;
  font-weight: 700;
}
.theComplexityOf {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.toMaintainConsistency {
  margin: 0;
}
.theComplexityOfContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 150%;
  font-family: var(--font-nunito);
  color: var(--color-black);
}
.image107Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.designSystemParent,
.prototyping,
.roleDetailsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.prototyping,
.roleDetailsParent {
  gap: var(--gap-37xl);
  max-width: 100%;
}
.roleDetailsParent {
  gap: var(--gap-45xl);
}
.buttonPrimary {
  height: 43px;
  flex: 0.1869;
  min-width: 168px;
}
.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 22px;
}
.buttonSecondary {
  flex: 1;
  border-radius: var(--br-5xl);
  border: 2px solid var(--bg-line);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-xl);
  min-width: 168px;
}
.buttons,
.projectOverview {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.buttons {
  width: 540px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--body-18-size);
  font-family: var(--font-roboto);
}
.projectOverview {
  width: 1200px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-45xl);
}
.content,
.headerParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--bg-line);
  font-family: var(--title-h2);
}
.headerParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-55xl);
}
.bienvelopeFillIcon,
.bilinkedinIcon,
.phinstagramLogoFillIcon {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 48px;
}
.icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.biancaRamonda2024 {
  position: relative;
}
.footerIcons {
  width: 192px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.footer,
.footerIcons,
.portfolioIollin {
  display: flex;
  flex-direction: column;
}
.footer {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--font-medium-emphasis);
  font-family: var(--font-nunito);
}
.portfolioIollin {
  width: 100%;
  position: relative;
  background-color: var(--bg-gray);
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 377.7px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .projectOverview,
  .roleDetailsParent {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 1050px) {
  .designSystem,
  .fintecifyIollin,
  .informationArchitectureAnd,
  .lowFidelityPrototypes,
  .myRole,
  .nSummaryAnd,
  .theBigChallenge,
  .theChallengeWe,
  .theUxuiDesign {
    font-size: var(--font-size-13xl);
    line-height: 48px;
  }
}
@media screen and (max-width: 750px) {
  .projectDescription {
    gap: var(--gap-xl);
  }
  .monitoringParent,
  .usersParent {
    flex-wrap: wrap;
  }
  .informationArchitectureAndUParent,
  .nSummaryAndAsAClosingStaParent,
  .prototypingDescription,
  .prototypingDescription1,
  .roleDetails,
  .theChallengeWeSeekToAddreParent {
    gap: var(--gap-xl);
  }
  .prototyping {
    gap: var(--gap-9xl);
  }
  .roleDetailsParent {
    gap: var(--gap-base);
  }
  .buttonPrimary,
  .buttonSecondary {
    flex: 1;
  }
  .buttons {
    flex-wrap: wrap;
  }
  .projectOverview {
    gap: var(--gap-base);
  }
  .headerParent {
    gap: var(--gap-18xl);
  }
  .portfolioIollin {
    gap: 189px;
  }
}
@media screen and (max-width: 450px) {
  .fintecifyIollin {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .iollinIsAContainer {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .myRole {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .monitoringParent {
    min-width: 100%;
  }
  .userTestingPerform {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .usersParent {
    min-width: 100%;
  }
  .theChallengeWe {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .contemporaryEntrepreneursEnc {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .informationArchitectureAnd,
  .theUxuiDesign {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .weCollaborateInContainer {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .lowFidelityPrototypes {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .theLowFidelityPrototypes {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .theBigChallenge {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .weBeganWithContainer {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .nSummaryAnd {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .thisProjectIsContainer {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .designSystem {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .theComplexityOfContainer {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .buttonPrimary {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .headerParent {
    gap: var(--gap-lg);
  }
  .portfolioIollin {
    gap: var(--gap-75xl);
  }
}
